.toast {
  @apply fixed left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 bg-gray-900 text-white px-4 py-3 rounded-lg shadow-lg;
  min-width: 18rem;
}

.main {
  width: 2rem;
}

.icon {
  margin-bottom: .2rem;
  height: .4rem;
  background: center center no-repeat;
  background-size: contain;
}

/* .success {
  background-image: url('./icons/success.svg');
}

.warning {
  background-image: url('./icons/warning.svg');
}

.error {
  background-image: url('./icons/error.svg');
} */

.text {
  text-align: center;
  font-size: .2rem;
  color: rgba(255, 255, 255, 0.86);
}

.success {
  @apply bg-primary-500;
}
